.header {
	display: grid;
	column-gap: 10px;
	grid-template-columns: auto min-content min-content;
	padding: 25px;
	padding-top: 30px;
	border-bottom: 0.1px solid #e6e5e5;

	&__logo {
		height: 30px;
		background-repeat: no-repeat;
	}

	@media screen and (min-width: 1200px) {
		padding: 55px;

		&__logo {
			height: 40px;
		}
	}
}
