$padding: 55px;
$padding-mobile: 30px;

.quote {
	display: grid;
	column-gap: 25px;
	grid-template-columns: 1fr min-content;
	grid-template-areas:
		'title title'
		'quote quote'
		'author photo'
		'author-role photo';

	&__title {
		padding-top: 30px;
		font-weight: 300;
		grid-area: title;
	}

	&__quote {
		grid-area: quote;
	}

	&__author,
	&__role {
		justify-self: flex-end;
		padding: 0px;
		margin: 0px;
		align-self: flex-end;
	}

	&__author {
		margin-top: 15px;
		grid-area: author;
	}

	&__role {
		margin-bottom: 40px;
		grid-area: author-role;
	}

	&__photo {
		grid-area: photo;
		height: 80px;
		width: 80px;
		border-radius: 100px;
	}

	@media screen and (max-width: 1199px) {
		padding: $padding-mobile;
	}

	@media screen and (min-width: 1200px) {
		padding: $padding;
	}
}
