$padding-sides: 55px;
$padding-sides-mobile: 30px;

.works {
	display: flex;
	flex-direction: column;

	&__list {
		border-top: 1px solid #e7e7e7;
		display: grid;
		width: 100%;
	}

	&__more {
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 16px;
		font-weight: 300;
		border: 1px solid #000000;
		text-transform: uppercase;
		align-self: center;
		padding: 10px;
		border-radius: 5px;
	}

	&__name {
		font-weight: 300;
		font-size: 15px;
	}

	@media screen and (max-width: 1199px) {
		&__list {
			padding-top: 12vw;
			row-gap: 8vw;
			justify-items: center;
		}

		&__img {
			width: 80vw;
			height: auto;
		}
	}

	@media screen and (min-width: 800px) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 40px;
			column-gap: 40px;
			padding-bottom: 0px;
			padding-top: 30px;
			padding-left: $padding-sides;
			padding-right: $padding-sides;
		}

		&__img {
			width: 100%;
			height: auto;
		}

		&__more {
			align-self: flex-end;
			margin-right: 60px;
		}
	}

	@media screen and (min-width: 1000px) {
		&__list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
