.work {
	display: grid;
	align-items: flex-start;

	@media screen and (max-width: 649px) {
		grid-template-areas:
			'gallery-module'
			'name'
			'texts';

		&__name {
			font-size: 22px;
			font-weight: 400;
			padding: 25px;
			margin-bottom: 0px;
			margin-top: 5px;
		}

		&__texts {
			border: none;
			padding: 25px;
			padding-top: 0px;
		}

		&__description {
			font-size: 16px;
		}
	}

	@media screen and (min-width: 750px) {
		width: 85%;
		margin: auto;
		margin-bottom: 150px;
		margin-top: 50px;
		grid-template-areas:
			'name gallery-module'
			'texts gallery-module';
		column-gap: 50px;
		grid-template-columns: auto 400px;
		grid-template-rows: 150px auto;

		&__name {
			border-bottom: 1px solid gray;
			padding-bottom: 10px;
		}

		&__description {
			font-size: 14px;
		}
	}

	ul {
		margin: 0px;
		padding: 0px;
	}

	&__info {
		li {
			text-decoration: none;
			list-style: none;
			padding: 0px;
			margin-left: 0px;
			font-weight: 400;
			color: rgb(79, 99, 165);
			margin-bottom: 10px;
		}

		b {
			font-weight: 300;
			color: gray;
			margin-right: 5px;
		}
	}

	&__texts {
		align-self: flex-start;
		justify-self: flex-start;
		grid-area: texts;
		display: grid;
		row-gap: 15px;
	}

	@media screen and (min-width: 1200px) {
		width: 75%;
		grid-template-columns: auto 500px;
	}
}
